body {
  background:#dee9ee;
  color: #070707;
  width: 630px;
  margin-right: auto;
  margin-left: auto;
}

/* 外の枠 */
.content {
  background-color: #fff;
  width: 580px;
  margin: 30px auto;   /* 上だけでauto時計周り上・右・下・左の順 */
  border: 3px solid #58aab4;
  padding: 30px;      /* 内側の余白 */
}

/* 夏のプログラミングコンテスト */
.text{
  background:#f8fad9;
  font-weight:bold;/* 太字 */
  color:#f83838;/* 字の色 */
}

/* ボタン */
button{
  font-weight:bold;/* 太字 */
  color:#fffefe;/* 字の色 */

  padding:  5px 20px;/* ボタンの縦・横 */
  background-color: #4a4dee;/* ボタンの色 */
  border-style:solid; /* 1本線で表示枠ボタン */
  border-radius: 8px; /* 角の丸み */
  font-size: 1em; /* フォントサイズ */
  cursor: pointer; /* カーソルを指マークに */
  margin: 3px;
}