/* 初期設定→画面の左上からスタートするイメージ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ①wrapperの中央1300で左右はautoで表示 */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

/* 見出し*/
header {
  width: 100%;
  position: fixed;
  background-color:none;
  z-index: 100; /* z-indexは値はなんでもＯＫ一番真上、手前にくるってこと */
  background-color: rgb(98, 115, 240);
}

header h2 {
  padding: 10px;
  font-size: 35px;
  padding-left: 100px;
  font-weight: 400; /* 文字を細くなる */
}

/* 見出しの中身の色 */
header nav {
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-bottom: 10px;
  padding-left: 150px;
}

/* 表示を縦並びから横並び表示 */
header nav ul li {
  list-style: none; /* 黒ポツを消す */
  display: inline-block; /* blockだと縦並びがinline要素にすと横並びになる */
  margin-top: 10px;
  margin-right: 100px;
}


header ul li {
  text-decoration: dashed; /* テキストの装飾的な線の表示 */
  color: white;
}


/* ②ここから
 写真3枚の箇所でwrapperの箇所
 写真が縦並びを横並びにするdisplay_flex
*/
.new-article {
  display: flex;
  justify-content: space-around; /* 画像が全体に */
  align-items:center; /* 念のためにやっておく意味ないらしい */
  padding-top: 150px;
  margin-bottom: 50px;
  text-align: center; /* 文字がすべて中央 */
}

/* 画像の大きさ */
img {
  width: 80%;
  object-fit: cover; /* 画像の縦横比を維持したまま */
}

/* 写真のコメント文字の装飾 */
.new-article p {
  font-weight: 700; /* 文字を太く */
  margin-top: 10px;
}


/* 2分割画面の大きさ全体設定で
    まずはflexで横並び */
.container{
  display: flex;
  justify-content: space-between;
}

/* メインを左に60%寄せる */
main {
  flex: 0.6;
}

/* ここからメインとサブでわける！！ */
/* サブ */
main article {
  margin-bottom: 100px; /* 下の余白の大きさ */
}

main h1{
  font-size: 40px;
  padding-left: 30px;

}

main ul {
  list-style: none; /* 黒丸●を消す */
  display: flex;  /* カテゴリが横並び */
  padding: 10px 0 10px 40px; /* 位置調整＞カテゴリが横並び */
}

main ul li {
  margin-right: 40px; /* 2022/04/27__40px__カテゴリ */
}

/* メイン画像の大きさ */
main img {
  width: 80%;
}

/* メインの文字、中央で太字 */
main .article-intro {
  text-align: center;
  margin-right: 100px;
  font-weight: bold;
  margin-bottom: 100px; /* 下の余白の大きさ */
}

/* ここからはasideサブ画面設定 */
/* asdie全体の幅を033にした */
aside {
  flex: 0.4;
}

/* 著者のアイコンの大きさ */
.author img {
  width: 20%;
}


/* asideでillustratorとのスペース */
aside .author {
  text-align: center; /* 著者の自己紹介文を中央 */
  margin-bottom: 170px; /* illustratorとの間スペース */
}

aside ul {
  list-style: none; /* 黒丸●を消す */
  padding: 5px 0px 0px 40px; /* 位置調整＞カテゴリが横並び */
}


/* アイコンと名前の間スペース */
aside .author h2 {
  margin: 10px;
}

/* 自己紹介文 */
.author p {
  max-width: 300px;
  margin: 0 auto; /* 中央 */
  text-align: left; /* 左に寄せる */
}

/* illustrator作品の一部 */
.ranking h3 {
  text-align: center; /* illustratorを中央へ */
  margin-bottom: 40px; /* スペース */
}



/* illustrator内の文章 */
.ranking-article a {
  text-align: center;
  text-decoration: none; /* アンダーバーがなくなる */
  color:black;
}

/* illustrator写真の大きさ */
.ranking-article a img {
  padding: 20px
}

/* illustrator写真<p>のスペース位置 */
.ranking-article p {
  padding-right: 90px;
  margin-bottom: 40px;
  margin-top: 0px
}


/* aside修正履歴までスペース記述 */
.archive {
  margin-top: 120px; /* 上スペース */
}

/* 「修正履歴」が中央へ */
.archive h4 {
  text-align: center;
  margin-bottom: 30px;
}

/* 修正履歴情報 */
.archive ul {
  list-style: none; /* 黒丸を無くす */
  width: 120%; /* 幅80パーセント */
  margin: 0 auto; /* 中央に寄せる */
  /* border-bottom: 1px solid black;  liタグに最後のアンダーバーができないから */
}

/* アンダーライン */
.archive ul li {
  padding: 10px; /* 修正履歴の間隔 */
  border-top: 1px solid black;
}

/* 文字色 */
.archive ul li a {
  text-decoration: none;
  color: black;
}


/* 考えた方＞現状は各項目にflex横を当てている
   これをcolum縦にしてレスポンシブに対応させる
   >>横幅が768PXになったら縦に表示してってこと
   【構成】
   ・header
   ・new-article-3写真
   ・container wrapper-2分割
     >>mainとasideで分割
     >>>>flexで横並びしてcolumnで縦表示
     */

@media screen and (max-width: 768px) {

  .new-article{
    flex-direction: column;
  }

  .new-article article{
    margin-bottom: 50px; /* 768pxになると「もっと読む」が写真にくっつくため */
  }

  .container {
    flex-direction: column;
  }

  aside .ranking img {
    width: 100%;
  }
}
